n8n-ble-workflow.json
{
  "name": "BLE Foot Traffic Ingestion & Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ble-data",
        "options": {
          "responseMode": "onReceived",
          "responseData": "Received"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "webhookId": "ble-data-ingest"
    },
    {
      "parameters": {
        "functionCode": "\nconst output = [];\n\nfor (const item of items[0].json) {\n  output.push({\n    json: {\n      timestamp: item.timestamp,\n      datetime: new Date(item.timestamp * 1000).toISOString(),\n      mac_hash: item.mac_hash,\n      rssi: item.rssi,\n      sensor: item.sensor,\n      type: item.type || \"ble\",\n      lat: item.lat || null,\n      lon: item.lon || null\n    }\n  });\n}\n\nreturn output;\n"
      },
      "name": "Parse BLE Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#ble-logs",
        "text": "\ud83d\udc64 Repeat Visitor Detected near {{$json[\"sensor\"]}} \u2014 MAC hash seen again!",
        "additionalFields": {}
      },
      "name": "Repeat Visitor Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ],
      "credentials": {
        "slackApi": {
          "id": "your-slack-credential-id",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items().length }}",
              "operation": "larger",
              "value2": 10
            }
          ]
        }
      },
      "name": "MAC Burst Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#ble-logs",
        "text": "\ud83d\udcc8 Burst of Devices Detected near {{$json[\"sensor\"]}}! Scan count: {{$items().length}}",
        "additionalFields": {}
      },
      "name": "MAC Burst Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        400
      ],
      "credentials": {
        "slackApi": {
          "id": "your-slack-credential-id",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items().length }}",
              "operation": "smaller",
              "value2": 2
            }
          ]
        }
      },
      "name": "Low Traffic Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        550
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#ble-logs",
        "text": "\u26a0\ufe0f Low BLE Traffic Detected near {{$json[\"sensor\"]}} \u2014 possible downtime or off-hours.",
        "additionalFields": {}
      },
      "name": "Low Traffic Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        550
      ],
      "credentials": {
        "slackApi": {
          "id": "your-slack-credential-id",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse BLE Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse BLE Data": {
      "main": [
        {
          "node": "MAC Burst Check",
          "type": "main",
          "index": 0
        },
        {
          "node": "Low Traffic Check",
          "type": "main",
          "index": 0
        }
      ]
    },
    "MAC Burst Check": {
      "main": [
        [
          {
            "node": "MAC Burst Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Traffic Check": {
      "main": [
        [
          {
            "node": "Low Traffic Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "tags": [],
  "versionId": "1"
}